{% extends 'base.html' %}

{% block content %}
  <header class="mb-3">
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container-fluid d-flex justify-content-between">
        <a href="/admin" class="navbar-brand d-flex align-items-center">
          <strong>Admin</strong>
        </a>
        <a href="/admin/logout" class="nav-link text-white">Logout</a>
      </div>
    </div>
  </header>

  <main role="main">
    {% block main %}
    {% endblock %}
  </main>
{% endblock %}
