{% extends 'admin/base.html' %}

{% block title %}
  {% if blogPost %}
    Edit Blog Post | Admin
  {% else %}
    Create Blog Post | Admin
  {% endif %}
{% endblock %}

{% block main %}
  <div class="modal" id="modal" style="display:none;" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Delete List</h3>
          <button class="btn-close" id="modal-close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you wish to delete this blog post?</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" id="modal-cancel">Cancel</button>
          <button class="btn btn-danger" id="modal-delete">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      {% if blogPost %}
        <h2>Edit Post</h2>
      {% else %}
        <h2>Create New Post</h2>
      {% endif %}
      <fieldset>
      {% if blogPost %}
        <form action="/admin/blog/post/edit/{{ blogPost.slug}}"
              enctype="multipart/form-data"
              method="post">
      {% else %}
        <form action="/admin/blog/post/add"
              enctype="multipart/form-data"
              method="post">
      {% endif %}
          {% if errMessage %}
            <p class="text-danger">{{ errMessage }}</p>
          {% endif %}
          <div class="mb-3">
            <label for="post-title">Title</label>
            <input class="form-control"
                   id="post-title"
                   type="text"
                   {% if blogPost %}
                   value="{{ blogPost.title }}"
                   {% endif %}
                   placeholder="Enter title here"
                   name="title"/>
          </div>
          <div class="mb-3">
            <label for="post-slug">Slug</label>
            <input class="form-control"
                   id="post-slug"
                   type="text"
                   {% if blogPost %}
                   value="{{ blogPost.slug }}"
                   {% endif %}
                   placeholder="Slug"
                   name="slug" />
          </div>
          <div class="mb-3">
            <label for="main-image">Image</label>
            <input class="form-control"
                   id="main-image"
                   type="file"
                   {% if blogPost %}
                   value="{{ blogPost.image }}"
                   {% endif %}
                   name="image" />
          </div>
          <div class="mb-3">
            <label for="tags">Tags</label>
            <input class="form-control"
                   id="tags"
                   type="text"
                   {% if blogPost %}
                   value="{{ blogPost.tags.join(',') }}"
                   {% endif %}
                   placeholder="Tags"
                   name="tags" />
          </div>
          <div class="mb-3">
            <label for="post-content">Post Content</label>
            <textarea class="form-control"
                      id="post-content"
                      placeholder="Text goes here"
                      name="content">
              {% if blogPost %}
                {{ blogPost.body }}
              {% endif %}
            </textarea>
          </div>
          <div class="mb-3">
            <input class="btn btn-secondary"
                   id="save-button"
                   name="action"
                   type="submit"
                   value="Save Draft" />
            <input class="btn btn-primary"
                   id="publish-button"
                   name="action"
                   type="submit"
                   value="Publish" />
            <button class="btn btn-danger"
                    id="delete-button">Delete</button>
          </div>
        </form>
      </fieldset>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="/tinymce/tinymce.min.js"></script>
  <script src="/static/js/deleteButton.bundle.js"></script>
  <script src="/static/js/editor.bundle.js"></script>
  <script src="/static/js/slugAutoFill.bundle.js"></script>
{% endblock %}
