{% extends 'admin/base.html' %}

{% block title %}Admin{% endblock %}

{% block main %}
  <div class="container-fluid">
    <div class="row">
      <h2>Admin</h2>
    </div>

    <div class="row">
      <table class="table">
        <thead>
          <th>Authentication</th>
        </thead>
        <tbody>
          <tr>
            <td><a href="/admin/auth/user">Users</a></td>
            <td>
              <a class="btn btn-primary"
                 href="/admin/auth/user/add"
                 id="add-user">Add</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <table class="table">
        <thead>
          <th>Blog</th>
        </thead>
        <tbody>
          <tr>
            <td><a href="/admin/blog/post">Posts</a></td>
            <td>
              <a class="btn btn-primary"
                 href="/admin/blog/post/add"
                 id="add-post">Add</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
