{% extends 'setup/base.html' %}

{% block title %}Setup Database{% endblock %}

{% block setup_form %}

  <h1>Database Info</h1>
  <p class="lead">
    Please enter your database connection details below.
  </p>

  <form method="post" action="/setup">
    <div class="mb-3">
      <label class="form-label"
             for="database-name">Database Name</label>
      <input id="database-name"
             class="form-control"
             type="text"
             name="databaseName" />
    </div>
    <div class="mb-3">
      <label class="form-label"
             for="username">Username</label>
      <input id="username"
             class="form-control"
             type="text"
             name="username" />
    </div>
    <div class="mb-3">
      <label class="form-label"
             for="password">Password</label>
      <input id="password"
             class="form-control"
             type="password"
             name="password" />
    </div>
    <div class="mb-3">
      <label class="form-label"
             for="database-host">Database Host</label>
      <input id="database-host"
             class="form-control"
             type="text"
             name="databaseHost" />
    </div>
    {% if errMessage %}
      <p class="text-danger">{{ errMessage }}</p>
    {% endif %}
    <div class="mb-3 mt-4">
      <input class="btn btn-primary"
             type="submit"
             name="submit"
             value="Submit" />
    </div>
  </form>

{% endblock %}
