{% extends 'public/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block main %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="blogpost">
          <h1 class="mb-2">{{ post.title }}</h1>
          <p class="mb-1 text-muted">{{ post.created }}</p>
          <p class="post-author">{{ post.author }}</p>
          <div class="main-content">{{ post.body | safe }}</div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
    </div>
  </div>
{% endblock %}
