{% extends 'public/base.html' %}

{% block title %}Basic Blog{% endblock %}

{% block main %}
  <section class="bg-secondary jumbotron text-center text-light mb-4">
    <div class="container">
      <h1 class="jumbotron-heading">Blog</h1>
      <p class="lead">
        Basic blogging website powered by Express.
      </p>
      <p>
        <a class="btn btn-primary"
           href="/">Articles</a>
      </p>
    </div>
  </section>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8">
        {% for post in posts %}
          <div class="card mb-4">
            <div class="card-body">
              <h3 class="mb-0">
                <a class="text-dark" href="">
                  {{ post.title }}
                </a>
              </h3>
              <div class="mb-1 text-muted">{{ post.created }}</div>
              <p class="card-text">{{ post.body | safe | truncate }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="">Continue reading</a>
                </div>
                <small class="text-muted">{{ post.views }} views</small>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="col-12 col-md-4">

      </div>
    </div>
  </div>
{% endblock %}
