@import '../../node_modules/bootstrap/scss/bootstrap';

// Ensure button text is white.
.btn-primary {
  color: $white;
}
.btn-primary:hover {
  color: $white;
}
.btn-success {
  color: $white;
}
.btn-success:hover {
  color: $white;
}

.container-fluid {
  max-width: 1140px;
}

.jumbotron {
  padding: 6em;
}

.footer {
  padding: 3em;
}
